build/
out/
Debug/
Release/
x64/
x86/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
.vs/
.vscode/
*.suo
*.user
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Thumbs.db
Desktop.ini
__pycache__/
*.pyc
*.bak
